.navigation {
    width: 60px;
    height: 100%;
    padding: 5px;
    background-color: #202225;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.handlers {

}

.handlers ul {
    list-style: none;
}

.handlers ul li.plus {
    background-color: #202225;

}

.handlers ul li.active {
    border-left: 2px solid #7289DA;
    color:  #7289DA;
}

.handlers ul li {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #36393f;
    margin-bottom: 5px;
    border-radius: 5px;
    border-left: 2px solid #2f3136;
}

.handlers ul li:hover {
    border-left: 2px solid #7289DA;
    color:  #7289DA;
    cursor: pointer;
}

.profile {
    position: relative;
}

.profile-status {
    position: absolute;
    border-radius: 100px;
    border: 2px solid #202225;
    bottom: 1px;
    right: -3px;
    width: 18px;
    height: 18px;
}

.profile img {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    background-color: #36393f;
}
