.notification {
    width: 60px;
    height: 100%;
    padding: 5px;
    background-color: #2f3136;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.unreadys ul {
    list-style: none;
}

.unreadys ul li {
    margin-bottom: 5px;
}

.unreadys ul li img {
    cursor: pointer;
    border-radius: 10px;
    border-left: 3px solid #fff;
}
.groups {
    margin-top: 10px;
}

.groups ul {
    list-style: none;
}

.groups ul li {
    margin-bottom: 5px;
}

.groups ul li img {
    cursor: pointer;
    border-radius: 10px;
    border-left: 3px solid #36393f;
}

.groups ul li img:hover {

    border-left: 3px solid #fff;
}
