.room {
    height: 100%;
    width: 100%;
    background-color: #292b2f;
    overflow-y: scroll;
    padding: 10px;
}

.msg {
    display: flex;
    background-color: #36393f;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 3px 3px 3px 3px;
}

.msg-avatar img {
    border-radius: 100px;
}

.msg-body {
    padding-left: 5px;
    display: flex;
    align-items: center;
}



.room::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.room::-webkit-scrollbar-track {
    background: #36393f;
    border-radius: 100px
}

/* Handle */
.room::-webkit-scrollbar-thumb {
    background: #202225;
    border-radius: 100px
}

/* Handle on hover */
.room::-webkit-scrollbar-thumb:hover {
    background: #555;
}
