* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    color: #b9bbbe;
    letter-spacing: 1px;
}

img {
    display: block;
}

.shadow {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#app {
    height: 100%;
    display: flex;
    background-color: #292b2f;
}

.left {
    display: flex;
}

.right {
    display: flex;
    height: 100%;
    width: 100%;
}


